

.container{
    background-color :#000;
}


.box{
    border: 1px solid ;
    background-color: #fff;

}

.box-highlight{
  color : deepskyblue;
}


.list-item{
    color : rgb(30, 181, 30);
}

div{
    margin: 10px;
}

p{
    color : rgb(250, 36, 36);
}